* {
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;;
}

a > img:only-child {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    color: #222;
}

img {
    pointer-events: none;
}
